#navbarSupportedContent > button.btn {
    margin-left: 10px;
}

div.container {
	justify-content: center;
	align-items: center;
	min-width: 70vw;
	max-width: 70vw;
	min-height: 100%;
}

#formForCreatingANewRentingObject, #newManagerForm {
	min-width: 100%;
}

#formForCreatingANewRentingObject > *, #newManagerForm > * {
	margin-top: 10px;
	margin-bottom: 10px;
}

.submitButtonDiv {
	display: flex;
	width: 100%;
	justify-content: center;
}

#formForCreatingANewRentingObject > div.submitButtonDiv > button, #newManagerForm > div.submitButtonDiv > button {
	width: 50%;
}
