#navbarSupportedContent > button.btn {
  margin-left: 10px;
}

.button-container {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.inline-button {
  margin-right: 10px;
  border-radius: 5px;
}

.search-input {
  border-radius: 5px;
}
