#navbarSupportedContent > button.btn {
    margin-left: 10px;
}

div.container {
    justify-content: center;
    align-items: center;
    min-width: 95vw;
    max-width: 95vw;
    min-height: 100%;
    margin-top: 10px;
}

.button-container {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.inline-button {
    margin-right: 10px;
    border-radius: 5px;
}

.search-input {
    border-radius: 5px;
}

th, td {
    text-align: center;
    vertical-align: middle;
}

td.nameTableData {
    min-width: 45%;
    max-width: 45%;
}

td.locationTableData {
    min-width: 25%;
    max-width: 25%;
}

td.logoTableData {
    min-width: 12%;
    max-width: 12%;
}

td.averageGradeTableData {
    min-width: 13%;
    max-width: 13%;
}
